# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Distribution / packaging
*.egg-info/
dist/
build/